
{:source-paths ["src"]
 :builds {:client {:output-dir "target/"
                   :asset-path "./"
                   :target :browser
                   :modules {:client {:init-fn app.main/main!}}
                   :devtools {:after-load app.main/reload!
                              :http-root "target"
                              :http-port 8080}}}}
